$gray: rgb(78, 93, 108);
$water-color: rgb(246, 247, 250);

body {
  color: $gray;
  font-family: Roboto, san-serif;
  font-size: 16px;
  padding: 30px 0;
  ul {
    list-style-type: none;
    padding: 0;
  }

  h1 {
    font-family: Lato;
    font-weight: bold;
    text-align: center;
  }

  button {
  }
}
