$dark-gray: rgb(78, 93, 108);
$dark-cyan: rgb(0, 119, 138);
$water-color: rgb(246, 247, 250);

body {
  color: $dark-gray;
  font-family: Roboto, san-serif;
  font-size: 16px;
  padding: 30px 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  h1 {
    font-weight: 800;
    text-align: center;
    font-family: Lato, sans-serif;
  }

  a {
    &, &:visited, a:hover {
      color: $dark-cyan;
    }
  }

  .btn {
    background-color: $dark-cyan;
    &, &:hover, &:active {
      color: white;
    }
  }

  .breadcrumb, input[type='text'], textarea, select {
    background-color: $water-color !important;
  }
}
