$gray: rgb(78, 93, 108);
$dark-cyan: rgb(0, 119, 138);


body {
  color: $gray;
  font-family: Roboto, san-serif;
  h1 {
    font-family: Lato;
    font-weight: bold;
    text-align: center;
  }
  .messages-list {
    list-style-type: none;
    padding: 10px 20px;
    text-align: right;

    .message {
      max-width: 700px;
      margin: 15px auto;
    }
    .content {
      background-color: $dark-cyan;
      color: white;
      padding: 8px 20px;
      border-radius: 6px;
      font-size: 16px;
    }

  }
}
