@import 'variables';

.home-page {
  h1 {
    margin: 80px 0px;
    font-size: 56px;
    font-weight: 700;
  }

  ul {
    text-overflow: ellipsis;
    text-align: center;
  }

  li {
    padding: 10px 0;
  }
  input, button, select {
    margin: 20px 0px; //important in bootstrap xs grid
  }
}
