$grayish-blue: rgb(151, 163, 180);

.room-page {

  max-width: 700px;
  margin: 0 auto;

  .messages-list {
    padding: 10px 0px;
    text-align: right;

    .message {
      margin-bottom: 10px;
      .content {
        padding: 8px 20px;
        border-radius: 6px;
      }
      &.by-self {
        text-align: right;
        .content {
          color: white;
          background-color: $grayish-blue;
        }
      }
      &.by-others {
        text-align: left;
        .content {
          background-color: lighten($grayish-blue, 20%);
        }
      }
      .metadata {
        padding-top: 3px;
        font-size: 13px;
        margin: 0 10px 0 10px; 
      }
    }
  }
  .no-messages {
    text-align: center;
    font-size: 14px;
    margin: 30px auto 10px auto;
  }

  .posting-as {
    margin: 5px;
    font-size: 12px;
    text-align: right;
  }
}
